@import './common';
@import './particles/header';
@import './particles/first-section';
@import './particles/work-item';
@import './particles/link-about';
@import './particles/seal';
@import './particles/advantages';
@import './particles/footer';
@import './particles/deviant-circle';
@import './particles/ticker';
@import './particles/link-wrapper';
@import './particles/preloader';

.work-item:nth-child(1) {
  .work-item__img {
    background-image: url('../media/works/lg/nk.svg');
  }
}

.work-item:nth-child(2) {
  .work-item__img {
    background-image: url('../media/works/lg/sber-salary-project.jpg');
  }
}

.work-item:nth-child(3) {
  .work-item__img {
    background-image: url('../media/works/lg/horo.svg');
  }
}

// .work-item:nth-child(3) {
//   .work-item__img {
//     background-image: url('../media/works/lg/sber-salary-project.jpg');
//   }
// }

// .work-item:nth-child(1) {
//   .work-item__img {
//     background-image: url('../media/works/lg/loft-group.jpg');
//   }
// }

// .work-item:nth-child(1) {
//   .work-item__img {
//     background-image: url('../media/works/lg/immun.jpg');
//   }
// }

// .work-item:nth-child(2) {
//   .work-item__img {
//     background-image: url('../media/works/lg/dutt-butt.jpg');
//   }
// }

// .work-item:nth-child(3) {
//   .work-item__img {
//     background-image: url('../media/works/lg/profsvar.jpg');
//   }
// }

// .work-item:nth-child(3) {
//   .work-item__img {
//     background-image: url('../media/works/lg/eco-food.jpg');
//   }
// }
// .work-item:nth-child(4) {
//   .work-item__img {
//     background-image: url('../media/works/lg/horo.jpg');
//   }
// }

// .work-item:nth-child(6) {
//   .work-item__img {
//     background-image: url('../media/works/lg/loft-group.jpg');
//   }
// }

// .work-item:nth-child(8) {
//   .work-item__img {
//     background-image: url('../media/works/lg/white.jpg');
//   }
// }
// .work-item:nth-child(9) {
//   .work-item__img {
//     background-image: url('../media/works/lg/sber-cashbox.jpg');
//   }
// }

// .work-item:nth-child(11) {
//   .work-item__img {
//     background-image: url('../media/works/lg/sber-salary-project.jpg');
//   }
// }

// @media screen and (max-width: 600px) {
//   .work-item:nth-child(1) {
//     background-image: url('../media/works/md/profsvar.jpg');
//   }
// }
