@import './common';
@import './particles/header';
@import './particles/works-first-slide';
@import './particles/work-item';
@import './particles/advantages';
@import './particles/footer';
@import './particles/deviant-circle';
@import './particles/link-wrapper';

.work-item:nth-child(1) {
  .work-item__img {
    background-image: url('../media/works/md/nk.svg');
  }
}

.work-item:nth-child(2) {
  .work-item__img {
    background-image: url('../media/works/md/horo.svg');
  }
}

.work-item:nth-child(3) {
  .work-item__img {
    background-image: url('../media/works/md/sber-salary-project.jpg');
  }
}

.work-item:nth-child(4) {
  .work-item__img {
    background-image: url('../media/works/md/profsvar.jpg');
  }
}

.work-item:nth-child(5) {
  .work-item__img {
    background-image: url('../media/works/md/loft-group.jpg');
  }
}

.work-item:nth-child(6) {
  .work-item__img {
    background-image: url('../media/works/md/sber-cashbox.jpg');
  }
}

.work-item:nth-child(7) {
  .work-item__img {
    background-image: url('../media/works/md/immun.svg');
  }
}

.work-item:nth-child(8) {
  .work-item__img {
    background-image: url('../media/works/md/sber-green-marathon.svg');
  }
}

.work-item:nth-child(9) {
  .work-item__img {
    background-image: url('../media/works/md/dutt-butt.svg');
  }
}

// .work-item:nth-child(8) {
//   .work-item__img {
//     background-image: url('../media/works/md/eco-food.jpg');
//   }
// }

.work-item:nth-child(10) {
  .work-item__img {
    background-image: url('../media/works/md/white.jpg');
  }
}
