@use "../global" as *;
@use "../foundation" as *;

.main-wrapper {
  height: 600vh;
}

.content {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-wrapper {
  padding-top: 0.1em;
}

.case-start-screen,
.case-final-screen {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  &.is-show {
    opacity: 1;
    pointer-events: auto;
  }
}

.case-final-screen {
  display: none;
  align-items: center;
  justify-content: center;
}

.case-final-screen__svg {
  position: absolute;
  left: -40px;
  top: -28px;
  z-index: -1;

  path {
    fill: rgba(0, 0, 0, 0);
    transition: fill 0.3s, stroke 0.3s;
  }
}

.case-final-screen__svg-eng {
  position: absolute;
  left: -40px;
  top: -28px;
  z-index: -1;

  path {
    fill: rgba(0, 0, 0, 0);
    transition: fill 0.3s, stroke 0.3s;
  }
}

.case-final-screen__link {
  transition: color 0.3s;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:hover {
    color: $white;

    @media screen and (min-width: $phone-width) {
      .case-final-screen__next-case-name {
        color: $black;
      }
    }

    path {
      fill: $red;
      stroke: $red;
    }
  }
}

.case-final-screen__next-case-name {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}

.case-final-screen__next {
  margin-left: 1.1em;
}

.case-final-screen__next-case {
  display: block;
  position: relative;
}

.case-final-screen__inner {
  text-align: center;
  position: relative;

  &_mobile {
    display: none;
  }
}

.detail-en {
  margin-right: 4em;
}

.detail-en-2-em {
  margin-right: 2em;
}

.detail-en-3-em {
  margin-right: 3em;
}

.detail-en-1-em {
  margin-right: 1em;
}

@media screen and (min-width: $phone-width) {
  .case-final-screen__next-case-name {
    color: $black;
  }
}
.case-start-screen__title-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.case-start-screen__sub-title,
.case-start-screen__title {
  margin-bottom: $offsetSm;
}

.case-start-screen__title {
  overflow: hidden;
  display: inline-block;
  height: 1em;
  padding-top: 0.1em;
}

.case-start-screen__title-inner {
  transform: translateY(100%);
  display: inline-block;
}

// animation
.case-start-screen__sub-title,
.case-start-screen__tags-wrapper,
.case-start-screen__year,
.case-start-screen__description,
.case-controls__links-row {
  transform: translateY(20px);
  opacity: 0;
}

.circle-button__text {
  opacity: 0;
}

.circle-button__arrow-left {
  transform: translateX(20px);
  opacity: 0;
}
//

.case-start-screen__year {
  margin-bottom: $offsetLg;
  display: inline-block;
}

.case-start-screen__description-wrapper {
  position: absolute;
  right: 0;
  top: 120px;
  text-align: right;
}

.imgs {
  opacity: 0;
  perspective: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;

  .img-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 458px;
    height: 458px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-wrapper:nth-child(8n) {
    transform: translateX(-50%) translateY(-50%) translateZ(0px);

    img {
      transform: translate(-100%, -20%);
    }
  }

  .img-wrapper:nth-child(8n - 1) {
    transform: translateX(-50%) translateY(-50%) translateZ(0px);

    img {
      transform: translate(100%, 70%);
    }
  }

  .img-wrapper:nth-child(8n - 2) {
    transform: translateX(-50%) translateY(-50%) translateZ(0px);

    img {
      transform: translate(-140%, 30%);
    }
  }

  .img-wrapper:nth-child(8n - 3) {
    transform: translateX(-50%) translateY(-50%) translateZ(0px);

    img {
      transform: translate(120%, -50%);
    }
  }

  .img-wrapper:nth-child(8n - 4) {
    transform: translateX(-50%) translateY(-50%) translateZ(0px);

    img {
      transform: translate(40%, -140%);
    }
  }

  .img-wrapper:nth-child(8n - 5) {
    transform: translateX(-50%) translateY(-50%) translateZ(0px);

    img {
      transform: translate(-100%, 100%);
    }
  }

  .img-wrapper:nth-child(8n - 6) {
    transform: translateX(-50%) translateY(-50%) translateZ(0px);

    img {
      transform: translate(-100%, -50%);
    }
  }

  .img-wrapper:nth-child(8n - 7) {
    transform: translateX(-50%) translateY(-50%) translateZ(0px);

    img {
      transform: translate(100%, 50%);
    }
  }
}

.case-controls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 40px;

  &__link-to-projects,
  &__link-to-order {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__link-to-projects {
    align-items: flex-start;
  }

  &__link-to-order {
    align-items: flex-end;
  }

  &__link {
    margin-top: $offsetSm2;

    &:first-of-type {
      margin-top: 24px;
    }
  }
}

.circle-button__arrow-left {
  path {
    stroke-width: 1px;
  }
}
.circle-button__border {
  path {
    opacity: 0;
    // stroke-dasharray: 0, 150;
    stroke-dasharray: 0, 300%;
  }
}

.loaded {
  .case-final-screen {
    display: flex;
  }
  .case-start-screen__sub-title,
  .case-start-screen__tags-wrapper,
  .case-start-screen__year,
  .case-start-screen__description,
  .case-controls__links-row,
  .circle-button__text {
    transform: translateY(0px);
    opacity: 1;
  }
  //
  .case-start-screen__sub-title {
    transition: transform 0.5s 0.15s, opacity 0.5s 0.15s;
  }
  .case-start-screen__title-inner {
    transform: translateY(0);
    transition: transform 0.7s 0.3s;
  }
  .case-start-screen__tags-wrapper {
    transition: transform 0.3s 0.85s, opacity 0.3s 0.85s;
  }
  //

  .case-start-screen__year {
    transition: transform 0.3s 1.3s, opacity 0.3s 1.3s;
  }
  .case-start-screen__description {
    transition: transform 0.3s 1.3s, opacity 0.3s 1.3s;
  }
  .imgs {
    opacity: 1;
    transition: opacity 0.7s 1.3s;
  }

  //
  .case-controls__links-row {
    transition: transform 0.3s 1.8s, opacity 0.3s 1.8s;
  }
  .circle-button__text {
    transition: transform 0.3s 2.1s, opacity 0.3s 2.1s;
  }
  .circle-button {
    opacity: 1;
    transition: opacity 0.7s 2s;
  }
  .circle-button__border {
    path {
      opacity: 1;
      // transition: stroke-dasharray 1.5s 1.5s, opacity 0.7s 2s;
      // stroke-dasharray: 200%, 0;
      transition: stroke-dasharray 0.8s 1.8s, opacity 0.5s 1.8s;
      stroke-dasharray: 310%, 300%;
    }
  }

  .circle-button__arrow-left {
    transform: translateX(0px);
    opacity: 1;
    transition: opacity 0.4s 2.1s, transform 0.4s 2.1s;
  }
}

.special {
  &_green-marathon {
    margin-right: 3em;
  }
  &_salary-project {
    margin-left: 4.4em;
  }
  &_common-projects {
    margin-right: 2.51em;
  }
}

.special-2 {
  &_green-marathon {
    margin-right: 0.06em;
  }
  &_plastic-nft {
    width: max-content;
  }
  &_cash-terminal {
    width: max-content;
  }
  &_common-projects {
    padding-left: 0.2em;
  }
  &_base-white {
    width: max-content;
  }
  &_dutt-butt {
    width: max-content;
  }
}

@media screen and (max-width: $desktop-md-width) {
  .case-final-screen__svg {
    width: 928px * 0.9074074074;
    height: 272px * 0.9074074074;
    left: -40px * 0.9074074074;
    top: -28px * 0.9074074074;

    path {
      stroke-width: 1px / 0.9074074074;
    }
  }

  .case-final-screen__svg-eng {
    width: 492px * 0.9074074074;
    height: 272px * 0.9074074074;
    left: -40px * 0.9074074074;
    top: -28px * 0.9074074074;

    path {
      stroke-width: 1px / 0.9074074074;
    }
  }
}

@media screen and (max-width: $desktop-sm-width) {
  .case-final-screen__svg {
    width: 928px * 0.9074074074 * 0.8367346939;
    height: 272px * 0.9074074074 * 0.8367346939;
    left: -40px * 0.9074074074 * 0.8367346939;
    top: -28px * 0.9074074074 * 0.8367346939;

    path {
      stroke-width: 1px / (0.9074074074 * 0.8367346939);
    }
  }

  .case-final-screen__svg-eng {
    width: 492px * 0.9074074074 * 0.8367346939;
    height: 272px * 0.9074074074 * 0.8367346939;
    left: -40px * 0.9074074074 * 0.8367346939;
    top: -28px * 0.9074074074 * 0.8367346939;

    path {
      stroke-width: 1px / (0.9074074074 * 0.8367346939);
    }
  }

  .case-start-screen__description-wrapper {
    top: 110px;
  }
  .case-start-screen__year {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: $desktop-sm-width-2) {
  .case-final-screen__svg {
    width: 928px * 0.9074074074 * 0.8367346939 * 0.8780487805;
    height: 272px * 0.9074074074 * 0.8367346939 * 0.8780487805;
    left: -40px * 0.9074074074 * 0.8367346939 * 0.8780487805;
    top: -28px * 0.9074074074 * 0.8367346939 * 0.8780487805;

    path {
      stroke-width: 1px / (0.9074074074 * 0.8367346939 * 0.8780487805);
    }
  }

  .case-final-screen__svg-eng {
    width: 492px * 0.9074074074 * 0.8367346939 * 0.8780487805;
    height: 272px * 0.9074074074 * 0.8367346939 * 0.8780487805;
    left: -40px * 0.9074074074 * 0.8367346939 * 0.8780487805;
    top: -28px * 0.9074074074 * 0.8367346939 * 0.8780487805;

    path {
      stroke-width: 1px / (0.9074074074 * 0.8367346939 * 0.8780487805);
    }
  }

  .circle-button__arrow-left {
    width: 42px;
    height: 42px;

    path {
      stroke-width: 1.4761904763px;
    }
  }
}

@media screen and (max-width: $tablet-lg-width) {
  .case-controls {
    bottom: $offsetMd;

    &__link {
      margin-top: 10px;
    }
  }

  .case-start-screen__description-wrapper {
    top: 88px;
  }

  .case-start-screen__year {
    margin-bottom: 24px;
  }

  .case-final-screen__svg {
    width: 928px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556;
    height: 272px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556;
    left: -40px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556;
    top: -28px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556;

    path {
      stroke-width: 1px /
        (0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556);
    }
  }

  .case-final-screen__svg-eng {
    width: 492px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556;
    height: 272px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556;
    left: -40px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556;
    top: -28px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556;

    path {
      stroke-width: 1px /
        (0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556);
    }
  }

  .circle-button__arrow-left {
    width: 32px;
    height: 32px;

    path {
      stroke-width: 1.9374999998px;
    }
  }
}

@media screen and (max-width: $tablet-sm-width) {
  .case-controls {
    display: flex;
    flex-direction: column;

    .half {
      width: 100%;
    }
  }
  .case-final-screen__svg {
    width: 928px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
      0.724137931;
    height: 272px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
      0.724137931;
    left: -40px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
      0.724137931;
    top: -28px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
      0.724137931;

    path {
      stroke-width: 1px /
        (
          0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
            0.724137931
        );
    }
  }

  .case-final-screen__svg-eng {
    width: 492px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
      0.724137931;
    height: 272px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
      0.724137931;
    left: -40px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
      0.724137931;
    top: -28px * 0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
      0.724137931;

    path {
      stroke-width: 1px /
        (
          0.9074074074 * 0.8367346939 * 0.8780487805 * 0.8055555556 *
            0.724137931
        );
    }
  }
}

@media screen and (max-width: $phone-width) {
  .case-controls {
    bottom: $offsetSm;

    &__link {
      margin-top: 8px;
    }
  }

  .case-start-screen__description-wrapper {
    top: 52px;
  }

  .case-start-screen__year {
    margin-bottom: 16px;
  }

  .circle-button__arrow-left {
    width: 10px;
    height: 10px;

    path {
      stroke-width: 6.1999999993px;
    }
  }

  .circle-button__text {
    display: none;
  }

  .circle-button {
    width: 30px;
    height: 30px;
    position: fixed;
    left: 12px;
    top: 48px;
    border: 1px solid $black;
    opacity: 0;

    &__border {
      display: none;
    }
  }

  .case-final-screen__inner {
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 56px;

    &_mobile {
      display: flex;
    }

    &_desktop {
      display: none;
    }
  }

  .case-final-screen__link {
    margin-top: 4px;
    z-index: 1;
    position: relative;
  }

  .case-final-screen__svg {
    width: 136px;
    height: 58px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    path {
      stroke-width: 1px;
    }
  }
}
