@use "../global" as *;
@use "../foundation" as *;
body {
  background: $red;
}

.work-item:nth-child(1) {
  .work-item__img {
    background-image: url("../../images/content/works/koltashov/md-works.svg");
  }
}

.work-item:nth-child(2) {
  .work-item__img {
    background-image: url("../../images/content/works/horo/horo.svg");
  }
}

.work-item:nth-child(3) {
  .work-item__img {
    background-image: url("../../images/content/works/sber-salary-project/sber-salary-project.jpg");
  }
}

.work-item:nth-child(4) {
  .work-item__img {
    background-image: url("../../images/content/works/sber-cash-terminal/sber-cashbox.jpg");
  }
}

.work-item:nth-child(5) {
  .work-item__img {
    background-image: url("../../images/content/works/immune-activator/immun.svg");
  }
}

.work-item:nth-child(6) {
  .work-item__img {
    background-image: url("../../images/content/works/sber-green-marathon/md-projects.svg");
  }
}

.work-item:nth-child(7) {
  .work-item__img {
    background-image: url("../../images/content/works/loft-group/md-main.jpg");
  }
}

.work-item:nth-child(8) {
  .work-item__img {
    background-image: url("../../images/content/works/dutt-butt/dutt-butt.svg");
  }
}

.work-item:nth-child(9) {
  .work-item__img {
    background-image: url("../../images/content/works/hunt-base-white/white.jpg");
  }
}

.work-item:nth-child(10) {
  .work-item__img {
    background-image: url("../../images/content/works/dacia/02.jpg");
    background-size: cover;
  }
}

.work-item:nth-child(11) {
  .work-item__img {
    background-image: url("../../images/content/works/zeeves-logo/01.jpg");
    background-size: cover;
  }
}

.work-item:nth-child(12) {
  .work-item__img {
    background-image: url("../../images/content/works/logofolio/01.jpg");
    background-size: cover;
  }
}

.work-item:nth-child(13) {
  .work-item__img {
    background-image: url("../../images/content/works/plastic–nft/01.jpg");
    background-size: cover;
  }
}

.work-item:nth-child(14) {
  .work-item__img {
    background-image: url("../../images/content/works/zeeves-site/01.jpg");
    background-size: cover;
  }
}

.work-item:nth-child(15) {
  .work-item__img {
    background-image: url("../../images/content/works/common-projects/01.jpg");
    background-size: cover;
  }
}
