<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
  {{> header
      color-1="black"
      color-2="white"
      write-us-link=(i18n "write-us.write-us-link-switch")
      height-1="height:100%"}}
  {{> burger-menu
      write-us-link=(i18n "write-us.write-us-link-switch")}}
  <main class="main">
    {{> form-section}}
    {{> footer-write-us
        data-header-color="black"
        line-color="black"
        main-color="black"
        hover-color="red"
        theme-controller="ignore-theme"
    }}

  </main>
 {{> popup}}
</body>
</html>