<label class="form-section__plus">
  <input type="file" />
  <div
    class="form-section__plus-text text text_type_desc text_color_gray hover_transition_xs"
  >
    {{i18n "write-us.write-us-form-attach-doc-str-1"}}
    <br />
    {{i18n "write-us.write-us-form-attach-doc-str-2"}}
  </div>
  <svg
    class="form-section__plus-svg"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0 30H60M30 60L30 0" stroke="#242424"></path>
  </svg>
</label>