<div class="footer__work-time">
  <span
    class="text text_type_desc text_color_{{second-color}}"
  >{{i18n "footer.footer-work-time-1"}}<br class="work-time-break">
    {{i18n "footer.footer-work-time-2"}}
  </span>
</div>