<div class="first-section_mobile">
  <span class="preloader-wrapper">
    <span class="preloader-wrapper-inner preloader-appearance-step-1-0">
      {{i18n "intro-main-mobile.intro-main-header-mobile-1"}}
    </span>
  </span>
  <span class="first-section__text-button text_type_desc">
    {{> intro-main-ru-mobile-tittle-site-svg}}
      <a
        href="/write-us.html?target=site"
        class="first-section__text-button-text text_color_black preloader-wrapper"
        >
        <span class="preloader-wrapper-inner preloader-appearance-step-1-1"
          >{{i18n "intro-main-mobile.intro-main-header-mobile-2"}}
        </span>
      </a>
  </span>
  <span class="first-section__text-button text_type_desc">
    {{> intro-main-ru-mobile-tittle-apps-svg}}
      <a
        href="/write-us.html?target=app"
        class="first-section__text-button-text text_color_black"
        >
        <span class="preloader-wrapper">
          <span class="preloader-wrapper-inner preloader-appearance-step-1-2"
            >{{i18n "intro-main-mobile.intro-main-header-mobile-3"}}
          </span>
        </span>
        <br />
        <span class="preloader-wrapper">
          <span class="preloader-wrapper-inner preloader-appearance-step-1-3"
            >{{i18n "intro-main-mobile.intro-main-header-mobile-4"}}
          </span>
        </span>
      </a>
  </span>
</div>