<div class="popup-background">
  <img
    class="popup-img popup-img_ru"
    src="../../images/content/popup-desktop.svg"
  />
</div>
<a href="{{links-html.main-link}}"
  class="button close-popup text text_transform_uppercase text_color_white text_type_h1">
  {{i18n "popup.popup-button"}}
</a>