<div class="popup-background">
  <img
    class="popup-img popup-img_eng"
    src="../../images/content/popup-desktop-eng.svg"
  />
</div>
<a href="{{links-html.main-link}}">
  <button class="button close-popup close-popup_eng text text_transform_uppercase text_color_white text_type_h1">
  {{i18n "popup.popup-button"}}</button>
</a>