<div id="popup" class="popup">
   <div class="popup-body main-padding">
      <div class="popup-text text_transform_uppercase text_type_h1">
			<h2 class="text gratitude main-padding">
            {{i18n "popup.popup-str-1"}}<br>
				{{i18n "popup.popup-str-2"}}<br class="non-mobile">
				{{i18n "popup.popup-str-3"}}
         </h2>
         {{#if (lng "ru")}}
            {{> popup-background}}
         {{/if}}
         {{#if (lng "en")}}
            {{> popup-background-eng}}
         {{/if}}
		</div>
	</div>
</div>

