<button class="first-section__play-button circle-button">
  {{! здесь вставить круг, лежит в svg }}
  {{! <div
          class="circle-button__text text text_type_desc
                 text_color_gray preloader-opacity
                 preloader-appearance-step-2-0"
        >
          Showreel
        </div> }}
  {{! здесь вставить кнопку play, она лежит в svg }}
</button>