.link-about {
  width: 50%;
  height: 50vw;
  max-height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &__seal {
    position: absolute;
    bottom: $offsetXLg;
    left: $offsetXLg;
  }

  &_type {
    &_about {
      background-color: $red;
    }

    &_works {
      border-radius: 50%;
      background-color: $red;
    }
  }
}

@media screen and (max-width: $desktopMdWidth) {
  .link-about {
    &__seal {
      position: absolute;
      bottom: $offsetLg;
      left: $offsetLg;
    }
  }
}

@media screen and (max-width: $tabletSmWidth) {
  .link-about {
    &__seal {
      position: absolute;
      bottom: $offsetMd;
      left: $offsetMd;
    }
  }
}
