.works,
.links-about {
  display: flex;
  flex-wrap: wrap;
}
.responsive-height {
  &_active {
    &.work-item {
      &_type_large {
        .work-item {
          &__text-inner {
            transition: transform 0.6s 0.3s;
          }
        }
      }
    }
    .work-item {
      &__text-opacity {
        opacity: 1;
      }
      &__text-inner {
        transform: translateY(0%);
      }
      &__desc-large {
        opacity: 1;
      }
    }
  }
}

.work-item {
  background-size: 100%;
  transition: background-size 0.6s;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: relative;

  &:hover {
    &.responsive-height {
      &_active {
        background-size: 110%;
        .work-item {
          &__overlay {
            opacity: 1;
          }
          &__button {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.3s, color 0.3s,
              background-color 0.3s;
          }
          &__colors {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.3s;
          }
          &__desc {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.3s;
          }
        }
      }
    }
  }
  &__desc {
    position: absolute;
    bottom: 40px;
    left: 40px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }
  &__colors {
    position: absolute;
    right: 40px;
    top: 40px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: visibility 0.3s, opacity 0.3s;
  }
  &__color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $red;
    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }
  &__text-opacity {
    opacity: 0;
    transition: opacity 0.3s;
  }
  &__text-wrapper {
    overflow: hidden;
  }
  &__overlay {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.8),
      rgba(36, 36, 36, 0.8)
    );
    transition: opacity 0.5s;
  }
  &__text-inner {
    transform: translateY(100%);
    transition: transform 0.6s;
  }
  &__button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s 0.3s, opacity 0.3s, color 0.3s,
      background-color 0.3s;
    &:hover {
      color: $black;
    }
  }
  &__title {
    position: relative;
  }

  &_type {
    &_large {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      max-height: 56vw;
    }

    &_common {
      width: 50%;
      height: 50vw;
      max-height: 50vw;
      padding: 40px;
      display: flex;
      align-items: flex-start;
    }
  }
  &__large-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__desc-large {
    transition: opacity 0.5s;
    opacity: 0;
    margin-bottom: 12px;
  }
}

//test
.work-item:nth-child(1) {
  background-image: url('~/media/works/matrix.jpg');
}

.work-item:nth-child(2) {
  background-image: url('~/media/works/mamma-mia.jpg');
}

.work-item:nth-child(3) {
  background-image: url('~/media/works/radiant.jpg');
}

.work-item:nth-child(4) {
  background-image: url('~/media/works/radiant.jpg');
}

.work-item:nth-child(5) {
  background-image: url('~/media/works/mamma-mia.jpg');
}

.work-item:nth-child(6) {
  background-image: url('~/media/works/radiant.jpg');
}
