<section data-header-color="white" class="approach-to-work main-padding">
  <h2 class="approach-to-work__title text text_type_desc">{{i18n "about-us.about-us-approach-title"}}</h2>
  <div class="approach-to-work__scheme">
    <div class="approach-to-work__step-wrapper">
      <div class="approach-to-work__step approach-to-work__step_1 text">
        {{i18n "about-us.about-us-approach-subtitle-1"}}
      </div>
      <div class="approach-to-work__step approach-to-work__step_2 text">
        {{i18n "about-us.about-us-approach-subtitle-2"}}
      </div>
      <div class="approach-to-work__step approach-to-work__step_3 text">
        {{i18n "about-us.about-us-approach-subtitle-3"}}
      </div>
    </div>
    {{> circles-desktop-approach-to-work-about-us-svg class-names="approach-to-work__scheme-svg_desktop"}}
    {{> circles-mobile-approach-to-work-about-us-svg
        class-names="approach-to-work__scheme-svg_mobile"}}
  </div>
</section>