<section data-header-color="white" class="our-profiles">
  <h2
    class="our-profiles__title text_type_h1 text text_transform_uppercase main-padding"
  >
    {{i18n "about-us.about-us-offer-title"}}
  </h2>
  <ul class="our-profiles__main">
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/web-design.png"
        text=(i18n "about-us.about-us-offer-str-1")
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/front-end.png"
        text=(i18n "about-us.about-us-offer-str-2")
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/back-end.png"
        text=(i18n "about-us.about-us-offer-str-3")
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/analitycs.png"
        text=(i18n "about-us.about-us-offer-str-4")
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/art-direction.png"
        text=(i18n "about-us.about-us-offer-str-5")
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/branding.png"
        text=(i18n "about-us.about-us-offer-str-6")
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/support.png"
        text=(i18n "about-us.about-us-offer-str-7")
    }}
    {{> line-our-offer-about-us}}
  </ul>
</section>