<section class="works preloader-opacity preloader-appearance-step-2-1">
  {{> project-lg 
      url=(i18n "links-html.detail-koltashov-link")
      text-under-title=(i18n "projects.projects-main-subtitle") 
      title="KOLTASHOV"
      tittle-color="white"
  }}
  {{> project-mini 
      url=(i18n "links-html.detail-sber-salary-project-link")
      title=(i18n "projects.projects-sber-salary-project") 
      color-1="#f5ebff" 
      color-2="#21a038" 
      color-3="#23e87d" 
      year="2021" 
      tech-category=(i18n "projects.projects-mini-subtitle-landing")
      title-color="white"}}
  {{> project-mini 
      url=(i18n "links-html.detail-horo-link")  
      title="Horo" 
      color-1="#31426e" 
      color-2="#ffffff" 
      color-3="#ffb8a8" 
      year="2021" 
      tech-category=(i18n "projects.projects-mini-subtitle-mobile-app")
      title-color="white"}}
  {{> about-us-link-projects-main 
  class-names="link-about link-about_type_about"
  data-header-color="white"}}
  {{> all-projects-link-projects-main 
  class-names="link-about link-about_type_works"
  data-header-color="white"}}
</section>