<section class="works">
  {{> project-lg
    data-header-color="black"
    url="https://eko-marathon.ru/" 
    title="СБЕР"
    tittle-color="black"
    theme-controller="ignore-theme"
    text-under-title="Многостраничный сайт"
  }}
  {{> project-lg 
    url="http://www.loftgroup.art/" 
    title="LOFTGROUP"
    tittle-color="white"
    theme-controller="ignore-theme"
    text-under-title="Многостраничный сайт"
  }}
  {{> project-lg 
    url="/stub-link" 
    title="HORO"
    tittle-color="white"
    theme-controller="ignore-theme"
    text-under-title="Мобильное приложение"
  }}
</section>