<section class="works">
  {{> project-lg
    data-header-color="black"
    url=(i18n "links-html.detail-green-marathon-link")
    title=(i18n "projects.projects-sber-green-marathon")
    tittle-color="black"
    theme-controller="ignore-theme"
    text-under-title=(i18n "projects.projects-mini-subtitle-multipage-website")
  }}
  {{> project-lg 
    url=(i18n "links-html.detail-loftgroup-link")
    title="LOFTGROUP"
    tittle-color="white"
    theme-controller="ignore-theme"
    text-under-title=(i18n "projects.projects-mini-subtitle-multipage-website")
  }}
  {{> project-lg 
    url=(i18n "links-html.detail-horo-link")
    title="HORO"
    tittle-color="white"
    theme-controller="ignore-theme"
    text-under-title=(i18n "projects.projects-mini-subtitle-mobile-app")
  }}
</section>