<section class="works">
  {{> project-lg
    data-header-color="black"
    url="https://eko-marathon.ru/" 
    title="SBER"
    text-under-title="Multipage website"
    tittle-color="black"
    theme-controller="ignore-theme"
  }}
  {{> project-lg 
    url="http://www.loftgroup.art/" 
    title="LOFTGROUP"
    text-under-title="Multipage website"
    tittle-color="white"
    theme-controller="ignore-theme"
  }}
  {{> project-lg 
    url="/stub-link" 
    title="HORO"
    text-under-title="Mobile app"
    tittle-color="white"
    theme-controller="ignore-theme"
  }}
</section>