<section class="works">
  {{> project-mini
      data-header-color="white"
      data-work-filter="websites"
      url=(i18n "links-html.detail-koltashov-link") 
      title="Koltashov" 
      color-1="#232121" 
      color-2="#fdfdfd" 
      color-3="#cd4138" 
      year="2019" 
      tech-category=(i18n "projects.projects-mini-subtitle-landing")
      title-color="white"
  }}
  {{> project-mini
      data-header-color="white"
      data-work-filter="apps"
      url=(i18n "links-html.detail-horo-link") 
      title="Horo" 
      color-1="#31426e" 
      color-2="#ffffff" 
      color-3="#ffb8a8" 
      year="2021" 
      tech-category=(i18n "projects.projects-mini-subtitle-mobile-app")
      title-color="white"
  }}
  {{> project-mini
      data-header-color="white"
      data-work-filter="websites"
      url=(i18n "links-html.detail-sber-salary-project-link") 
      title=(i18n "projects.projects-sber-salary-project") 
      color-1="#f5ebff" 
      color-2="#21a038" 
      color-3="#23e87d" 
      year="2021" 
      tech-category=(i18n "projects.projects-mini-subtitle-landing")
      title-color="white"
  }}
  {{> project-mini 
      data-header-color="white"
      data-work-filter="apps"
      url=(i18n "links-html.detail-sber-cash-terminal-link")  
      title=(i18n "projects.projects-sber-cash-terminal") 
      color-1="#f8f8f8" 
      color-2="#f94a21" 
      color-3="#13923c" 
      year="2022" 
      tech-category=(i18n "projects.projects-mini-subtitle-mobile-app")
      title-color="white"}}
  {{> project-mini
      data-header-color="black"
      data-work-filter="websites"
      url=(i18n "links-html.detail-immune-link") 
      title=(i18n "projects.projects-immune-activator") 
      color-1="#f8f8f8" 
      color-2="#3a2e94" 
      color-3="#ff6c2d" 
      year="2018" 
      tech-category=(i18n "projects.projects-mini-subtitle-landing")
      title-color="black"
  }}
  {{> project-mini 
      data-header-color="black"
      data-work-filter="websites"
      url=(i18n "links-html.detail-green-marathon-link")
      title=(i18n "projects.projects-sber-green-marathon") 
      color-1="#f5ebff" 
      color-2="#99cc33" 
      color-3="#6acff5" 
      year="2021" 
      tech-category=(i18n "projects.projects-mini-subtitle-multipage-website")
      title-color="black"
  }}
  {{> project-mini
      data-header-color="white"
      data-work-filter="websites"
      url=(i18n "links-html.detail-loftgroup-link") 
      title="LoftGroup" 
      color-1="#d91e1e" 
      color-2="#ffffff" 
      color-3="#2b2b2b" 
      year="2019" 
      tech-category=(i18n "projects.projects-mini-subtitle-multipage-website")
      title-color="white"}}
  {{> project-mini
      data-header-color="white"
      data-work-filter="websites"
      url=(i18n "links-html.detail-dutt-butt-link") 
      title="Dutt Butt" 
      color-1="#baae81" 
      color-2="#fbfbfb" 
      color-3="#5e7b99" 
      year="2019" 
      tech-category=(i18n "projects.projects-mini-subtitle-landing")
      title-color="white"
  }}
  {{> project-mini
      data-header-color="white"
      data-work-filter="websites"
      url=(i18n "links-html.detail-base-white-link")  
      title=(i18n "projects.projects-hunt-base-white") 
      color-1="" 
      color-2="#ffffff"
      color-3="#249d6a"
      year="2019" 
      tech-category=(i18n "projects.projects-mini-subtitle-multipage-website")
      title-color="white"
  }}
  {{> project-mini
      data-header-color="white"
      data-work-filter="websites"
      url=(i18n "links-html.detail-dacia-site.html")  
      title=(i18n "projects.projects-dacia-multipage-website") 
      color-1="#A39E8A" 
      color-2="#7C7763"
      color-3="#FFFFFF"
      year="2021" 
      tech-category=(i18n "projects.projects-mini-subtitle-multipage-website") 
      title-color="white"
  }}
  {{> project-mini
      data-header-color="black"
      data-work-filter="branding"
      url=(i18n "links-html.detail-zeeves-identity-link")  
      title=(i18n "projects.projects-zevees-logo-branding") 
      color-1="#F1E7FF" 
      color-2="#F2943E"
      color-3="#299197"
      year="2022" 
      tech-category=(i18n "projects.projects-mini-subtitle-branding")
      title-color="black"
  }}
  {{> project-mini
      data-header-color="black"
      data-work-filter="branding"
      url=(i18n "links-html.detail-logofolio-link")  
      title=(i18n "projects.projects-logofolio-branding") 
      color-1="#F8F8F8" 
      color-2="#F8F8F8"
      color-3="#F8F8F8"
      year="2020" 
      tech-category=(i18n "projects.projects-mini-subtitle-branding")
      title-color="black"
  }}
  {{> project-mini
      data-header-color="black"
      data-work-filter="websites"
      url=(i18n "links-html.detail-plastic-nft-link")  
      title=(i18n "projects.projects-plastic-nft-landing") 
      color-1="#F6D14C" 
      color-2="#37B0F2"
      color-3="#F6934C"
      year="2022" 
      tech-category=(i18n "projects.projects-mini-subtitle-landing")
      title-color="black"
  }}
  {{> project-mini
      data-header-color="black"
      data-work-filter="websites"
      url=(i18n "links-html.detail-zeeves-site-link")  
      title=(i18n "projects.projects-zevees-site-multipage-website") 
      color-1="#F1E7FF" 
      color-2="#FBFDFF"
      color-3="#FFF3F3"
      year="2022" 
      tech-category=(i18n "projects.projects-mini-subtitle-multipage-website")
      title-color="black"
  }}
  {{> project-mini
      data-header-color="black"
      data-work-filter="websites"
      url=(i18n "links-html.detail-common-projects-link")  
      title=(i18n "projects.projects-common-projects-multipage-website") 
      color-1="#F2F2F2" 
      color-2="#F2F2F2"
      color-3="#F2F2F2"
      year="2022" 
      tech-category=(i18n "projects.projects-mini-subtitle-multipage-website")
      title-color="black"
  }}
</section>