<section class="works">
  {{> project-lg
    data-header-color="black"
    url="https://eko-marathon.ru/" 
    title=(i18n "projects.projects-about-us-title-sber")
    tittle-color="black"
    theme-controller="ignore-theme"
    text-under-title=(i18n "projects.projects-mini-subtitle-multipage-website")
  }}
  {{> project-lg 
    url="http://www.loftgroup.art/" 
    title="LOFTGROUP"
    tittle-color="white"
    theme-controller="ignore-theme"
    text-under-title=(i18n "projects.projects-mini-subtitle-multipage-website")
  }}
  {{> project-lg 
    url="/stub-link" 
    title="HORO"
    tittle-color="white"
    theme-controller="ignore-theme"
    text-under-title=(i18n "projects.projects-mini-subtitle-mobile-app")
  }}
</section>