body {
  font-family: $fontMain;
  position: relative;
  overflow-x: hidden;
  background-color: $bg;
}

textarea {
  font-family: $fontMain;
}

.half {
  width: 50%;
}

.T {
  display: inline-block;
  transform: rotate(180deg) translateY(3%);
}

.row {
  display: flex;
}

.link {
  cursor: pointer;
  position: relative;
  pointer-events: all;
  height: 1.2em;
  display: inline-flex;

  &__wrapper {
    position: relative;
  }

  &::before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    right: 0;
    height: 1px;
    transition: width 0.3s;
    background-color: $black;
  }

  &:hover:before {
    transition: width 0.3s, height 0s 0.25s;
    width: 0;
    height: 0;
    left: 0;
    right: auto;
  }

  &_color {
    &_white {
      &::before {
        background-color: $white;
      }
    }
    &_gray {
      &::before {
        background-color: $gray;
      }
    }
  }
}

.main-padding {
  padding-left: 40px;
  padding-right: 40px;
}

.text {
  font-style: normal;
  font-weight: normal;

  &_transform {
    &_uppercase {
      text-transform: uppercase;
    }
  }

  &_color {
    &_black {
      color: $black;
    }

    &_white {
      color: $white;
    }

    &_gray {
      color: $gray;
    }
    &_red {
      color: $red;
    }
  }

  &_type {
    &_wow {
      font-size: 300px;
      line-height: 100%;
    }
    &_h1 {
      font-size: 108px;
      line-height: 100%;
    }

    &_h2 {
      font-size: 32px;
      line-height: 130%;
    }
    &_h3 {
      font-size: 24px;
      line-height: 130%;
    }

    &_common {
      font-size: 18px;
      line-height: 110%;
    }

    &_desc {
      font-size: 18px;
      line-height: 140%;
    }
  }
}

.button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &_type {
    &_main {
      border-style: solid;
      border-width: 1px;
      border-radius: 80px;
      padding: 24px 34px;
    }

    &_sub {
      border-style: solid;
      border-width: 1px;
      border-radius: 40px;
      padding: 12px 16px;
    }
  }

  &_color {
    &_main {
      border-color: #242424;

      &:hover {
        background-color: $red;
        border-color: $red;
        color: $white;
      }
    }
    &_white {
      border-color: rgba(255, 255, 255, 0.4);

      &.button_active {
        background-color: $white;
        border-color: $white;
        color: $red;
      }

      &:hover {
        background-color: $white;
        border-color: $white;
        color: $red;
      }
    }
  }
}

.hover {
  &_opacity {
    &_m {
      &:hover {
        opacity: 0.4;
      }
    }
  }

  &_color {
    &_red {
      &:hover {
        color: $red;

        a,
        span,
        p {
          color: $red;
        }
      }
    }
    &_white {
      &:hover {
        color: $white;

        a,
        span,
        p {
          color: $white;
        }
      }
    }
  }

  &_transition {
    &_xs {
      transition: color 0.3s, background-color 0.3s, opacity 0.3s;

      a,
      span,
      p {
        transition: color 0.3s, background-color 0.3s, opacity 0.3s;
      }
    }
  }
}
