// colors
$black: #242424;
$white: #ffffff;
$red: #e74141;
$gray: #a2a2a3;

$bg: #f8f8f8;

// fonts
$fontMain: Arial, sans-serif;

// media
$desktopWidth: 1600px;
$tabletWidth: 1024px;
$phoneWidth: 600px;
