// colors
$black: #202024;
$white: #FFFFFF;
$red:#FF333F;
$gray:#A2A2A3;

$bg:#F8F8F8;


// fonts
$fontMain: Arial,
sans-serif;


// media
$desktopWidth: 1600px;
$tabletWidth: 1024px;
$phoneWidth: 600px;